@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button-filter {
    @apply bg-fujitsu-blue text-fujitsu-white mx-2 font-bold  max-w-12 max-h-12 hover:bg-fujitsu-dark-blue transition;
  }

  .button-toggle {
    @apply bg-fujitsu-blue text-fujitsu-white mx-2 font-bold max-h-12 hover:bg-fujitsu-dark-blue transition;
  }

  .standard-button {
    @apply border-fujitsu-blue text-fujitsu-blue border-2 max-w-12 max-h-12 hover:bg-fujitsu-blue/10 transition-all;
  }

  .input-search {
    @apply flex items-center border border-fujitsu-light-gray text-fujitsu-gray rounded-md h-12;
  }

  .p-tree .p-tree-filter-container input {
    @apply w-full p-2 border border-fujitsu-gray focus:border-none active:border-none
    /* Add your custom styles here */;
  }

  /* Additional styles for the filter placeholder */
  .p-tree .p-tree-filter-container::placeholder {
    color: #fff;
  }

  .custom-selected-node {
    background-color: #e6f7ff; /* Change the background color to your desired color */
    color: #0066cc; /* Change the text color to your desired color */
  }
}
